nav { 
    display: inline;
    align-items: flex-end;
}
li { 
    background-color: aliceblue; 
    display: inline;
    align-items: flex-end;
    align-content: end;
  
}
li a { 
    color: rgb(16, 15, 15);
    padding: 204px 16px;
}
li a:hover {
    background-color: orange;
  }
  

ul {
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 10px 15px;
}

  .aktiv {
    background: orange;
    border-radius: 5px;
    color: white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }